- var fb_id = friend.get('fb_id'), extensions_count = friend.get('extensions').length
.friend(data-uid="#{fb_id}", data-id="#{friend.id}")
  div.big_pic
    img(src="#{friend.get('picture')}")
  h2.name= friend.get('name')
  if extensions_count
    div.fgd2.small.it.extensions_sum
      | -
      | 
      span.extensions_count= extensions_count
      | 
      | extensions -
  else
    div.fgd2.small.it.
      - no extensions yet -